@model FileModel;
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .validation {
        color: red;
    }
</style>
<div class="text-center container">
    <h3>Load file</h3>
    <form asp-action="LoadFile" asp-controller="Home" method="post" enctype="multipart/form-data">

        <input type="file" name="File" /><br>
        <span class="validation" asp-validation-for="File"></span>
        <input class=" btn-primary" type="submit" />


    </form>
</div>
